/*Sart Global rules  */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Small  */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large  */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules  */
form {
    padding: 40px 40px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
form input:first-of-type {
    width: 80%;
    margin-right: 10px;
    border-radius: 10px;
    padding: 30px 10px;
}
form input:last-of-type {
    width: 15%; 
    border-radius: 10px;
    padding: 25px 10px;
    color: white;
    font-size: 23px;
    background-color: darkorange;
    cursor: pointer;
    
}
@media (max-width: 768px) {
    form input:first-of-type {
        width: 65%;
    }
    form input:last-of-type {
        width: 30%;
        font-size: 20px;
    }
}
.tasks {
    margin-top: 20px;
    padding: 40px 40px;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
}
.task {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin-bottom: 15px;
}
h1 {
    word-break: break-word;
}
.delete {
    background-color: darkorange;
    padding: 10px 20px;
    border-radius: 10px;
    height: 40px;
    color: white;
    cursor: pointer;
}